.about_us_s{
  background-image: url("../img/about us/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  .about_us_s__wrap{
  display: flex;
  justify-content: center;
    flex-direction: column;
    align-items: center;
        h4{
            margin-top:50px;
            margin-bottom:30px;
            font-family: "ProximaNova Bold";
            color: #fff;
            font-size: 48px;
        }
      p{
        font-family: "ProximaNova Lite";
        color: gray;
        font-size: 18px;
        text-align: center;
        width:70%;
        margin-bottom: 70px;
      }
    ul{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      li {
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
          font-family: "ProximaNova Lite";
          color: gray;
          font-size: 18px;
        }
        a{
          img{
            transition: .5s;
          }
          h5 {
            margin-top: 10px;
            margin-bottom: 10px;
            font-family: "ProximaNova Bold";
            color: #fff;
            font-size: 24px;
            text-align: center;
            transition: .5s;
          }
        }
        a:hover{
          img{
            transition: .5s;
            transform: scale(1.1);
          }
          h5 {
            transition: .5s;
            background: linear-gradient(90deg, #5F0587, #DD018C);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
      }
    }
    .btn{
      margin-top: -20px;
    }
  }
}