.container{
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  @include res('tab'){
    max-width: 730px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
  }
  @include res('tab-l'){
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
  }
  @include res('mob'){
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
  }
  @include res('mob-l'){
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
  }
}
