.container{
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  @include res('tab'){
    max-width: 768px;
    width: 100%;
    margin: 0 auto;
  }
  @include res('mob'){
    max-width: 450px;
    width: 100%;
    margin: 0 auto;
  }
}
//.portfolio_container{
//  max-width: 1950px;
//  width: 100%;
//  margin: 0 auto;
//}