a{
  text-decoration: none;
}
.btn{
  transition: .3s;
  width: 205px;
  height: 50px;
  font-family: "ProximaNova Regular";
  font-size: 18px;
  color: #fff;
  text-align: center;
  line-height: 50px;
  border-radius: 50px;
  background: linear-gradient(90deg ,#5F0587,#DD018C);
  a{
    color:white;
  }
}