body{
    height:500vh;
}
.header_s{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 40px 0;
    z-index: 10;
}
.container{
    margin: 0 auto;
    padding: 0 40px;
}
.logo_area{
    cursor:pointer;
    width: 17px;
    height:17px;
}
@keyframes rotate {
    from{transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
.logo{
    position: absolute;
    top: 0;
    animation: rotate 2s linear infinite ;
}
.menu_area{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 40px;
}
.menu{
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 15px;
    background-color: #7C7F8A;
}
.menu:after{
    position: absolute;
    content: '';
    margin-top: 5px;
    height: 2px;
    width: 15px;
    background-color: #7C7F8A;
}
.menu:before{
    position: absolute;
    content: '';
    margin-top: 10px;
    height: 2px;
    width: 15px;
    background-color: #7C7F8A;
}
.search
{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 80px;
}
.background_s{
    /*position: relative;*/
    position:static;
    background-image: url("../img/background.png");
    width: 100%;
    height:100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.background_s:before{
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height:100%;
    background-color: rgba(0,0,0,0.2);
}
.header_text_area{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.btn_area{

    border: 1px solid #FF4242;
    margin: 0 auto;
    width: 188px;
    height: 35px;
    background-color: #FF4242;
    transition: .25s;
}
.btn_area a{
    color:white;
}
.btn_area:hover {
    text-align: center;
    background-color: transparent;
    transition: .25s
}
.btn_text{
    text-align: center;
    line-height: 35px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}
.header_text{
    margin-top: 20px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 35px;
    letter-spacing: 75px;
    margin-left: 75px;
}
@keyframes jump {
    from,to{
        bottom:50px;
    }
    50%{
        bottom:60px;
    }
}
.jump_arrow{
    width: 11px;
    height:11px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom:50px;
    animation: jump 1s infinite linear;
}
